html
    h1 REGISTER
    if msg
        #msg #{msg}
    form(action='/register', method='post')
        input(type='text', name='username', placeholder='Username')
        input(type='password', name='password', placeholder='Password')
        input(type='submit', value='Login')
